body {
    width: 50%;
    margin: auto;
    padding: 75px 10px 10px 10px;
    background-color: #1e1e25;
    color: #eeeeee;
    font: 20px Monospace;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

#search-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#nmap-table {
    border-collapse: collapse;
    width: 100%;
}

#nmap-table th,
#nmap-table td {
    border: 1px solid #8f8f8f;
    padding: 8px;
    text-align: left;
}

#nmap-table tr {
    font: 16px Monospace;
}

#nmap-table tr:hover {
    background-color: #4f4c57;
    /*clicky mouse cursor*/
    cursor: pointer;
    transition: background-color 0.1s;
}

#nmap-table tr:active {
    background-color: #4a4752;
}

#nmap-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #970000;
    color: #eeeeee;
}

pre {
    width: 95%;
    height: 50%;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #373737;
    color: #d0d0d0;
    border: 1px solid #636363;
    padding: 10px;
    font-family: 'Courier New', monospace;
}

.selected {
    transition: background-color 0.3s;
    background-color: #4f4c57;
}

.expanded {
    height: 0;
    transition: height 0.5s ease-out; /* Adjust as needed */
    overflow: hidden;
    background-color: #4f4c57;
}

.expanded.open {
    height: 200px; /* Adjust as needed */
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--scroll-bar-bg-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scroll-bar-color);
        border-radius: 20px;
        border: 3px solid var(--scroll-bar-bg-color);
    }